{# templates/orders/main.html.twig #}
<h1>Merci,
	{{ user.firstName }}
	{{ user.lastname }}
	!</h1>
<p>Votre commande a été validée avec succès.</p>
<br/>
<p>Le détail de votre commande est disponible sur votre espace personnel.</p>
<br/>
<br/>
<p>À bientôt !</p>
